{% extends "base.html" %}

{% block title %}{{ song.title }} - Music App{% endblock %}

{% block content %}
<div class="container my-4">
    <main>
        <div class="song-details text-center">
            <h2 class="text-white mb-3">{{ song.title }}</h2>
            <p class="text-white">by {{ song.singer }}</p>
            <p class="text-white">{{ song.release_date.year }}</p>
            <div class="rating text-white">
                <span>Rating:</span>
                {{ average_rating }}/5
            </div>
            <p class="lyrics text-white">{{ song.lyrics }}</p>
            <audio controls class="mt-3">
                <source src="{{ url_for('static', filename='songs/' + song.filename) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </main>
</div>
{% endblock %}
